<h1>Editar Professor</h1>
<form action="/professores/edit/<%= professor.id %>" method="POST">
    <div class="form-group">
        <label for="nome">Professor</label>
        <input type="text" class="form-control" id="nome" name="nome" value="<%= professor.nome %>" required>
        <input type="number" class="form-control" id="numero" name="numero" value="<%= professor.numero %>" required>
    </div>
    <button type="submit" class="btn btn-primary">Atualizar</button>
</form>